<div class="row">
  <div class="page-header">
    <h2>To-Do List For: </h2>
    <h5> <strong><%= current_user.email %></strong> </h5>
  </div>


  <div class="cold-md-8 col-sm-12">
    <%= render 'items/form' %>
    <div class="pull-right">
      <%= link_to "Remove Completed Items", user_item_path(current_user, @items),
       class: 'btn btn-warning', method: :delete, remote: true %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>TO-DO ITEMS:</th>
          <th>COMPLETED</th>
          <th>TIME REMAINING:</th>
        </tr>
      </thead>
      <tbody class='items'>
        <%= render @items %>
      </tbody>
    </table>
  </div>
</div>
