<div class="container">
  <div class="page-header">
    <h3>User Profile Information:</h3>
  </div>

  <div class="row">
    <p> Email: <strong> <%= @user.email %> </strong></p> <br />
   <div class="cold-md-8">
     <%= render 'items/form', locals: {item: @item} %> <br />
     <%= render 'items/item' %>
   </div>
 </div>
