<ul>
<% current_user.items.each do |item| %>
  <li><%= item.name %> | <span>
    <%= link_to item.name, [@user, item], method: :delete, class: 'glyphicon glyphicon-ok' %>
  </span>
</li>
<% end %>
</ul>
