<ul>
<% current_user.items.each do |item| %>
  <li><%= item.name %> | <span>
    <%= link_to item.name, [@user, item], method: :delete, class: 'glyphicon glyphicon-ok' %>
  | <%= distance_of_time_in_words(Time.now, item.created_at + 7.days) +
  " left" %></span>
</li>
<% end %>
</ul>
