<%= content_tag(:tr, id: "item_#{item.id}", class: "#{'complete' if item.completed_at} #{'red' if item.time == 1}") do %>
  <td><strong><%= item.name %></strong></td>
  <td><%= check_box_tag dom_id(item), '', item.completed_at, data: { url: user_complete_item_path(current_user, item), class: 'checkbox', method: :patch, remote: true } %></td>
  <td><strong><%= pluralize(item.time, "day") %></strong></td>
<% end %>
