@import "bootstrap-sprockets";
@import "bootswatch/cosmo/variables";
@import "bootstrap";
@import  "bootswatch/cosmo/bootswatch";

.page-nav {
  margin-bottom: 0;
}

.complete {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-style: wavy;
}

.red {
  background-color: tomato;
}

.hide {
  display: none;
}
