@import "bootstrap-sprockets";
@import "bootswatch/cosmo/variables";
@import "bootstrap";
@import  "bootswatch/cosmo/bootswatch";

.page-nav {
  margin-bottom: 0;
}

.complete {
  text-decoration: line-through;
  text-decoration-style: wavy;
  text-decoration-color: red;
}
